.app {
    grid-area: app;
    position: relative;
    perspective: 1500px;
}
.app-front,
.app-back {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative;
}
.app-front {
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.15), 0 15px 30px 0 rgba(0,0,0,.3);
    background: white;
    z-index: 2;
}
.app-back {
    opacity: 0;
    min-height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.app-header {
    grid-area: header;
    display: flex;
    align-items: center;
    height: 60px;
}

.app-logo {
    margin: 0 20px;
}
.app-search {
    flex-grow: 1;
}
.app-session {
    margin: 0 5px 0 15px;
}
.app-content {
    grid-area: content;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    & > * {
        grid-row: 1;
        grid-column: 1;
        filter: saturate(0%);

        &:last-child {
            filter: none;
        }
    }
}
.app-panel {
    margin-top: 1px;
}

@keyframes navlistIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}