chipi-searchbox {
    position: relative;

    & .searchbox-submit {
        display: none;
    }

    & .searchbox-input {
        width: 100%;
        border: none;
        background: none;
        outline: 0;
        @extend %font-2;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        color: transparent;
        caret-color: var(--black);

        &::placeholder {
            color: var(--gray-light);
        }
    }

    & .searchbox-render {
        @extend %font-2;

        /* Autocomplete */
        & em {
            font-style: inherit;
            color: var(--gray-light);
        }

        /* Flag */
        & strong {
            font-weight: inherit;
            color: var(--blue);
        }

        &::after {
            content: " ";
            display: inline-block;
        }
    }
}