chipi-searchbox {
    position: relative;
    min-height: 30px;

    & .searchbox-submit {
        display: none;
    }

    & .searchbox-input {
        width: 100%;
        border: none;
        background: none;
        outline: 0;
        @extend %font-2;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        color: transparent;
        caret-color: var(--black);
        resize: none;
        max-height: 60px;
        overflow: auto;

        &::placeholder {
            color: var(--gray-light);
        }
    }

    & .searchbox-render {
        font-family: inherit;
        @extend %font-2;
        margin: 0;
        max-height: 60px;
        overflow: auto;
        white-space: normal;

        /* Autocomplete */
        & em {
            font-style: inherit;
            color: var(--gray-light);
        }

        /* Flag */
        & strong {
            font-weight: inherit;
            color: var(--blue);
        }
    }
}