.help {
    position: relative;
    color: white;
    text-shadow: 0 0 12px black;
    filter: drop-shadow(0 0 20px black);
}

.help-keyboard {
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.30);

    & polygon {
        fill: #595959;
    }
}
.help-text {
    display: inline-block;
    margin-left: 1em;
    @extend %font-2;
    font-weight: normal;
}