:root {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #595959;
    --gray-light: #A6A6A6;
    --gray-xlight: #D9D9D9;
    --gray-xxlight: #F2F2F2;
    --blue: #2266EE;
}

%font-0 {
    font-size: 12px;
    line-height: 1.2;
}

%font-1 {
    font-size: 15px;
    line-height: 1.2;
}

%font-2 {
    font-size: 25px;
    line-height: 1.2;
}